/***样式初始化***/
html{margin:0;padding:0;border:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, q, dl, dt, dd, ol, ul, li, input, fieldset, form, legend, caption, tbody, tfoot, thead, article, aside, dialog, figure, footer, header, hgroup, nav, section{margin:0;padding:0;border:0;font-size:14px;vertical-align:baseline;}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section{display:block;}
body{font-size:12px;color:#000;background:#fff;font-family:"Microsoft YaHei","simsun","Helvetica Neue", Arial, Helvetica, sans-serif;}
img{border:0;}
table{border-collapse:collapse;border-spacing:0;}
table td{border:1px #e0e0e0 solid;text-align:center;overflow:hidden;height:35px;padding:0px;width: 65px;}
table td:hover{background-color:#f5f3f3;}
table td input[type=text]{width:65px;height:35px;font-size:15px;text-align:center;}
table td input[type=text]:hover{background-color:#f5f3f3;}
.serial{border:1px #e0e0e0 solid;background-color:#c3c3c3;text-align: center;line-height: 35px;}
.serial:hover{background-color:#c3c3c3;cursor:default;}
.empty{border:0;background-color:#fff;}
input[type=text]:focus,textarea:focus,button:focus{outline:0;}
.top{height:45px;position:fixed;width:100%;box-shadow:0 0 11px 1px #adaaaa;background-color:#f9f9f9;z-index: 99;}
.main{margin-top:58px;position: absolute;z-index: 1;margin-bottom:25px;}
.main .data-field{margin-left:10px;}
button{display: inline-block;height: 30px;line-height: 30px;padding: 0 13px;background-color: #1E9FFF;color: #fff; white-space: nowrap;text-align: center;font-size: 14px;border: none;border-radius: 2px;cursor: pointer;opacity: .9;filter: alpha(opacity=90);}
button:hover{opacity: .8;filter: alpha(opacity=80);color: #fff;}
.text{height:30px;border:1px #d0d4d8  solid;width:95px;border-radius: 6px;text-align:center;}
.text:hover{box-shadow: 0px 0px 8px 0px rgba(30, 159, 255, 0.36);border:1px solid #1E9FFF;}
.top .field{line-height:45px;margin-left:10px;}
.top .field>*{margin-right:5px;}
.disabled-btn{background-color:gray;cursor:not-allowed;}
.rowHeader{width:65px;position:absolute;margin-top:35px;}
.rowHeader span{display:block;height:35px;width:65px;border: 0px;border-top: 1px #e0e0e0 solid;}
.rowHeader .first{border-top: 1px solid #e0e0e0;}
.data-table{margin-left:65px;padding-top:35px;display: block;}
.columnHeader{height:35px;position:absolute;margin-left:65px;}
.columnHeader .first{border-left: 1px solid #e0e0e0;}
.columnHeader .second{width:84px;}
.columnHeader span{display:block;height:35px;width:65px;float:left;border: 0px;border-right: 1px solid #e0e0e0;}
.cover-left{position:fixed;top:58px;left:0px;width: 10px;height: 100%;z-index:9999;background-color:white;}
.cover-top{position:fixed;top:45px;width:100%;height:13px;z-index:9998;background-color:white;box-shadow: inset 0px 5px 8px 0px #e2dfdf;}
.cover-cell{position:fixed;top:58px;left:10px;z-index:10000;background-color:white;width:65px;height:35px;}
.column-flag{background-color: #c3c3c3;width: 100%;text-align: center;height: 100%;}
.group-border{border-right-color: rgb(141, 214, 135);}
.nametd input[type=text]{width:85px !important;}
.border-red{border:1px solid red;}
.result{width:85px;}
.cp{position:absolute;margin-top:-25px;margin-left: 5px;width: 16px;height: 16px;display: block;}
.cp:hover{cursor:pointer;}
.data-area{width: 100%;height: 100%;text-align: center;}
.data-area .gene-data{width: 98%;height: 98%;margin-top: 5px;resize:none;white-space: nowrap;}